<!doctype html>

<html>

  <head>
  

  <script src="../../static/js/vis.js"></script>
  <link href="../../static/css/vis.css" rel="stylesheet" type="text/css" />
  <script src="../../static/js/display.js"></script>
      <style type="text/css">
        #mynetwork {
            width: 1400px;
            height: 1400px;
            border: 1px solid lightgray;
        }
    </style>
  
  <head/>

  <body>

<div id="mynetwork"></div>

<script type="text/javascript">

    var container = document.getElementById('mynetwork');
    
    console.log("calling");
    var anythings = {{ data|safe }} ;
    
    
    //console.log(anythings);
    plantRoot(anythings, container);

    </script>  
  <body/>
</html>
